<!-- Header Component -->
<header class="header sticky-top bg-white">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo/Logo.png" alt="Max Wellness Logo" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Trang Chủ</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sản Phẩm
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/pages/san-pham/nad-plus.html">NAD+</a></li>
                            <li><a class="dropdown-item" href="/pages/san-pham/glutathione.html">Glutathione</a></li>
                            <li><a class="dropdown-item" href="/pages/san-pham/coenzyme-q10.html">Coenzyme Q10</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Liệu Trình
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/pages/lieu-trinh/nad-plus.html">NAD+ IV</a></li>
                            <li><a class="dropdown-item" href="/pages/lieu-trinh/detox-ruou-tao-nang-luong.html">Detox Rượu</a></li>
                            <li><a class="dropdown-item" href="/pages/lieu-trinh/trang-da-glutathione.html">Trắng Da Glutathione</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Kiến Thức
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/pages/thu-vien-kien-thuc/nad-la-gi.html">NAD+ Là Gì?</a></li>
                            <li><a class="dropdown-item" href="/pages/thu-vien-kien-thuc/vitamin-c-lieu-cao.html">Vitamin C Liều Cao</a></li>
                            <li><a class="dropdown-item" href="/pages/thu-vien-kien-thuc/exosome-te-bao-goc.html">Exosome & Tế Bào Gốc</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/gioi-thieu.html">Giới Thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pages/lien-he.html">Liên Hệ</a>
                    </li>
                </ul>
                <a href="/pages/tu-van.html" class="btn btn-primary ms-lg-4">Tư Vấn Miễn Phí</a>
            </div>
        </div>
    </nav>
</header>
