<!-- Testimonials Component -->
<div class="testimonial section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h2 class="section-title">Khách hàng nói gì về chúng tôi?</h2>
                <div class="testimonial-image mb-4">
                    <img src="/assets/images/home/Khachhangnoigi.png" alt="Khách hàng hài lòng về Max Wellness" class="img-fluid rounded-4">
                </div>
            </div>
            <div class="col-lg-6">
                <div data-aos="fade-up" data-aos-delay="100">
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            "Tôi cảm thấy khỏe lên rõ rệt chỉ sau 1 lần truyền NAD+. Giấc ngủ sâu hơn và tỉnh táo suốt cả tuần!"
                        </div>
                        <div class="testimonial-info">
                            <div class="testimonial-author">Chị L.N (38 tuổi)</div>
                            <div class="testimonial-location">TP.HCM</div>
                        </div>
                    </div>
                </div>
                
                <div class="mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="testimonial-card">
                        <div class="testimonial-text">
                            "Mỗi tuần truyền trắng da giúp da tôi đều màu và sáng rõ, không cần makeup nhiều nữa!"
                        </div>
                        <div class="testimonial-info">
                            <div class="testimonial-author">Chị T.T (29 tuổi)</div>
                            <div class="testimonial-location">Biên Hòa</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="text-center mt-5">
            <a href="/pages/tu-van.html" class="btn btn-outline-primary">Đặt lịch tư vấn miễn phí</a>
        </div>
    </div>
</div>
